
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <name>codeInsight</name>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <script src="https://d3js.org/d3.v3.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div id="nav">Nav</div>
    <div id="popular-list" >

    </div>
    <article id="forced-layout"></article>
    <!-- <svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
    	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 513 93.8"
    	 enable-background="new 0 0 513 93.8" xml:space="preserve">


    		<path id="heartBeat" fill="none" stroke="#F26522" stroke-width="2" d="M0,72.2c8.8-0.3,77.5-0.3,77.5-0.3c10.3-6,17.5-12.2,21.8-12.5c2.7-0.2,3.5,0.5,5.2,2.5
    			c1.3,1.6,6.8,6.9,9,9c0.6,0.6,1.5,1,2.4,1h15.9c0.8,0,1.6,0.5,2,1.3c2.1,4.5,9.3,19.2,10.4,12.1c1.3-8.4,3-51.8,4-82.5
    			c0.1-1.8,2.7-1.8,2.8,0l5.1,90c0.1,1.4,2,1.6,2.4,0.2l5.1-19.4c0.2-0.8,0.9-1.3,1.7-1.3l26-0.3c0,0,13.3-19,21.3-18.3
    			c8,0.7,16,17.3,16,17.3s28,0,28,0c8.8-0.3,77.5-0.3,77.5-0.3c10.3-6,17.5-12.2,21.8-12.5c2.7-0.2,3.5,0.5,5.2,2.5
    			c1.3,1.6,6.8,6.9,9,9c0.6,0.6,1.5,1,2.4,1h15.9c0.8,0,1.6,0.5,2,1.3c2.1,4.5,9.3,19.2,10.4,12.1c1.3-8.4,3-51.8,4-82.5
    			c0.1-1.8,2.7-1.8,2.8,0l5.1,90c0.1,1.4,2,1.6,2.4,0.2l5.1-19.4c0.2-0.8,0.9-1.3,1.7-1.3l26-0.3c0,0,13.3-19,21.3-18.3
    			s16,17.3,16,17.3h28"/>

    </svg> -->
    <!-- <svg version="1.1" id="heartBeat-bottom" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
    	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 513 699.3"
    	 enable-background="new 0 0 513 699.3" xml:space="preserve">

    	<g i:extraneous="self">
    		<path display="none" fill="none" stroke="#F26522" d="M0,73.2c8.8-0.3,77.5-0.3,77.5-0.3c10.3-6,17.5-12.2,21.8-12.5
    			c2.7-0.2,3.5,0.5,5.2,2.5c1.3,1.6,6.8,6.9,9,9c0.6,0.6,1.5,1,2.4,1h15.9c0.8,0,1.6,0.5,2,1.3c2.1,4.5,9.3,19.2,10.4,12.1
    			c1.3-8.4,3-51.8,4-82.5c0.1-1.8,2.7-1.8,2.8,0l5.1,90c0.1,1.4,2,1.6,2.4,0.2l5.1-19.4c0.2-0.8,0.9-1.3,1.7-1.3l26-0.3
    			c0,0,13.3-19,21.3-18.3s16,17.3,16,17.3s28,0,28,0c8.8-0.3,77.5-0.3,77.5-0.3c10.3-6,17.5-12.2,21.8-12.5c2.7-0.2,3.5,0.5,5.2,2.5
    			c1.3,1.6,6.8,6.9,9,9c0.6,0.6,1.5,1,2.4,1h15.9c0.8,0,1.6,0.5,2,1.3c2.1,4.5,9.3,19.2,10.4,12.1c1.3-8.4,3-51.8,4-82.5
    			c0.1-1.8,2.7-1.8,2.8,0l5.1,90c0.1,1.4,2,1.6,2.4,0.2l5.1-19.4c0.2-0.8,0.9-1.3,1.7-1.3l26-0.3c0,0,13.3-19,21.3-18.3
    			c8,0.7,16,17.3,16,17.3h28"/>
    		<g>
    			<path display="none" fill="#8DC63F" d="M99.4,59.8c2.7-0.2,3.5,0.5,5.2,2.4c1.3,1.5,6.8,6.6,9,8.7c0.6,0.6,1.5,0.9,2.4,0.9h15.9
    				c0.8,0,1.6,0.5,2,1.2c2.1,4.3,9.3,18.4,10.4,11.6c1.3-8,3-49.7,4-79.2c0.1-1.7,2.7-1.7,2.8,0l5.1,86.4c0.1,1.3,2,1.5,2.4,0.2
    				l5.1-18.6c0.2-0.7,0.9-1.2,1.7-1.2l26-0.3c0,0,13.3-18.2,21.3-17.6s16,16.6,16,16.6h28c8.8-0.3,77.5-0.3,77.5-0.3
    				c10.3-5.8,17.5-11.7,21.8-12c2.7-0.2,3.5,0.5,5.2,2.4c1.3,1.5,6.8,6.6,9,8.7c0.6,0.6,1.5,0.9,2.4,0.9h15.9c0.8,0,1.6,0.5,2,1.2
    				c2.1,4.3,9.3,18.4,10.4,11.6c1.3-8,3-49.7,4-79.2c0.1-1.7,2.7-1.7,2.8,0l5.1,86.4c0.1,1.3,2,1.5,2.4,0.2l5.1-18.6
    				c0.2-0.7,0.9-1.2,1.7-1.2l26-0.3c0,0,13.3-18.2,21.3-17.6c8,0.6,16,16.6,16,16.6h27.5V0H0.5v72.1c10.6-0.3,77-0.3,77-0.3
    				C87.9,66.1,95,60.1,99.4,59.8z"/>
    			<path fill="#8DC63F" d="M485,69.6c0,0-8-16-16-16.6c-8-0.6-21.3,17.6-21.3,17.6l-26,0.3c-0.8,0-1.5,0.5-1.7,1.2l-5.1,18.6
    				c-0.3,1.3-2.3,1.1-2.4-0.2l-5.1-86.4c-0.1-1.7-2.7-1.7-2.8,0c-1,29.5-2.7,71.2-4,79.2c-1.1,6.8-8.3-7.3-10.4-11.6
    				c-0.4-0.7-1.1-1.2-2-1.2h-15.9c-0.9,0-1.7-0.3-2.4-0.9c-2.3-2.1-7.7-7.2-9-8.7c-1.7-1.9-2.5-2.6-5.2-2.4
    				c-4.3,0.3-11.5,6.2-21.8,12c0,0-68.7,0-77.5,0.3h-28c0,0-8-16-16-16.6s-21.3,17.6-21.3,17.6l-26,0.3c-0.8,0-1.5,0.5-1.7,1.2
    				L158.4,92c-0.3,1.3-2.3,1.1-2.4-0.2L151,5.4c-0.1-1.7-2.7-1.7-2.8,0c-1,29.5-2.7,71.2-4,79.2c-1.1,6.8-8.3-7.3-10.4-11.6
    				c-0.4-0.7-1.1-1.2-2-1.2h-15.9c-0.9,0-1.7-0.3-2.4-0.9c-2.3-2.1-7.7-7.2-9-8.7c-1.7-1.9-2.5-2.6-5.2-2.4
    				c-4.3,0.3-11.5,6.2-21.8,12c0,0-66.4,0-77,0.3v627.1h512V69.6H485z"/>
    		</g>
    	</g>
    </svg> -->

<script>

// function htmlDecode(input){
//     var e = document.createElement('div');
//     e.innerHTML = input;
//     return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
//   }
//   var myVar = JSON.parse(htmlDecode("<%= JSON.stringify(myVar) %>"));
//
//
  $("#nav").load("nav.html");

  $(document).ready(function() {
  //populate adter ready
  $popularList = $("#popular-list");
  //index route
    $.ajax({
      method: "GET",
      url: "/api/popularRepos",
      success: handleSuccess,
      error: handleError
  });

function handleSuccess(json) {
  allRepos = json.popular;
  console.log(allRepos.popular);
  // pass `allProject` into the template function
  var reposHtml = getAllReposHtml(allRepos);

  // append html to the view
  $popularList.append(reposHtml);
}

function handleError(e) {
    $("#popular-list").text('Failed to load repos, is the server working?');
  }

  function getProjectHtml(repo) {
    console.log(repo.name);
    return `<hr>
        <p>
          <b class="repo-name">${repo.name}</b>
          <span class="view-input" style="display: none">
            <input type="text" value="${repo.name}" />
            </span>
            <p>
              ${repo.name}
            </p>
            <button class="viewProjectBtn">View</button>
          stars ${repo.stargazers_count}
          <br>
          </p>
        `;
  }

  function getAllReposHtml(repos) {
    return repos.map(getProjectHtml).join("");
  }

}); //end on ready


  var width = 640,
      height = 480;


  //adapted from http://bl.ocks.org/sathomas/11550728
  var nodes = [
      { x:   width/3, y: height/2 },
      { x: 2*width/3, y: height/2 }
  ];

  var links = [
      { source: 0, target: 1 }
  ];


  var svg = d3.select('#forced-layout').append('svg')
      .attr('width', width)
      .attr('height', height);

  var force = d3.layout.force()
      .size([width, height])
      .nodes(nodes)
      .links(links);

  force.linkDistance(width/2);

  var link = svg.selectAll('.link')
      .data(links)
      .enter().append('line')
      .attr('class', 'link');

  var node = svg.selectAll('.node')
      .data(nodes)
      .enter().append('circle')
      .attr('class', 'node');

  force.on('end', function() {

      node.attr('r', width/25)
          .attr('cx', function(d) { return d.x; })
          .attr('cy', function(d) { return d.y; });

      // update positions of the links.
          link.attr('x1', function(d) { return d.source.x; })
          .attr('y1', function(d) { return d.source.y; })
          .attr('x2', function(d) { return d.target.x; })
          .attr('y2', function(d) { return d.target.y; });

  });

  force.start();

  </script>
  </body>
</html>
