<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>codeInsight</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="/scripts/d3.min.js"></script>
    <script src="/scripts/jquery3.3.1.min.js"></script>
    <script src="/scripts/jquery-ui.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <!-- <script src="/scripts/app.js"></script> -->
  </head>
  <body>
    <!-- <div id="nav">Nav</div> -->
    <%- include('nav'); %>
    <h1 class="hot-title">what's hot on github</h1>
  <container class="main flex-container">
    <section class="popular-list-container">
      <h2 class="popular-title">hottest repos</h2>
      <small>scroll for more</small>
      <div id="popular-list"></div>
    </section>
    <!-- <section class="flex-container selectors-container">
      <div class="selectors">
        <button id="language">Language split</button>
        <button id="all">All</button>

      </div>
      <div class="ui-widget selectors">
        <input id="search" placeholder="search repos...">
        <button id="searchbutton" type="button">Search</button>
      </div>
    </section> -->

    <!-- <container class="main flex-container"> -->
    <section id="stars-layout">
      <section class="flex-container selectors-container">
        <div id="ui-widget-selectors" class="ui-widget selectors">
          <input id="search" placeholder="search repos...">
          <button id="searchbutton" type="button">Search</button>
        </div>

        <div class="selectors">
          <button id="language">language split</button>
          <button id="all">join</button>
          <!-- <button id="concentric">Linear</button> -->
        </div>

      </section>
      <!-- <h1>what's hot on github</h1> -->
    </section>

  </container>
    <!-- <script src="/scripts/d3.js" defer></script> -->
    <script src="/scripts/hot.js" defer></script>
  </body>
</html>
