<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>codeInsight</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>

  <%- include('nav'); %>
  <header class="welcome">
    <section class="welcome-flex">
      <div class="title">
        <h1 id="title">codeInsight</h1>
      </div>
      <svg version="1.1" id="logo-intro" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 260.3 260.3" style="enable-background:new 0 0 260.3 260.3;" xml:space="preserve">

            <g i:extraneous="self">
              <circle fill="white" stroke="#484a4d" id="outer-circle" class="st0" cx="130.2" cy="130.2" r="129.7"/>
              <polyline fill="none"  stroke="#484a4d"  class="logo-link" points="104.4,79.6 180,60.1 205.3,120.4 146.9,152.5 63.8,146.2 110.8,192
                160.4,210.9 147.9,158.5 		"/>
              <circle fill="white"  stroke="#484a4d" id="circle7" class="circle-thick" cx="160.4" cy="210.9" r="21.9"/>
              <circle fill="white"  stroke="#484a4d" id="circle6" class="circle-thin" cx="110.8" cy="192" r="13.5"/>
              <circle fill="white"  stroke="#484a4d" id="circle5" class="circle-thin" cx="63.8" cy="146.2" r="25.8"/>
              <circle fill="white"  stroke="#484a4d" id="circle4" class="circle-red" cx="146.9" cy="152.5" r="13.5"/>
              <circle fill="white"  stroke="#484a4d" id="circle3" class="circle-thick" cx="205.3" cy="120.4" r="18.5"/>
              <circle fill="white"  stroke="#484a4d" id="circle2" class="circle-thin" cx="180" cy="60.1" r="19.6"/>
              <circle fill="white"  stroke="#484a4d" id="circle1" class="circle-thick" cx="104.4" cy="79.6" r="37"/>
            </g>
          </svg>
    </section>
  </header>

  <section class="action">
    <h2 class="action-title">find patterns <span class="welcome-span">in your repo code</span></h2>
    <h2 class="action-title">see trends <span class="welcome-span">across languages</span></h2>
    <h2 class="action-title">get inspired <span class="welcome-span">to try new directions</span></h2>
  </section>

</body>

</html>
