<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>codeInsight</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <h1>codeInsight</h1>
    <%- include('nav'); %>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" id='content'>
          <article class="projects" id="projects-list"></article>
        </div>
      </div>
    </div>
  </body>
</html>
