<nav>
  <% if(user != undefined){ %>
    <h2>Below is the data sent by github</h2>
    <pre>
      <%= user.gh %>
    </pre>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/auth/github">Login with github</a>
  <% } %>
</nav>
