<link rel="stylesheet" href="/styles/styles.css">
<nav>


  <h3><a href="/">codeInsight</a></h3>
  <% if(user != undefined){ %>

    <a href="/api/hot">what's hot</a>
    <a href="/api/profile">profile</a>
    <a href="/logout">logout</a>
    <p class="user">hey, <%= user.gh.username %></p>
  <% } else { %>
    <a href="/auth/github">login with github</a>
  <% } %>
</nav>
