<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>profile</title>
    <!-- STYLESHEETS -->
  <link rel="stylesheet" href="/styles/profile.css">

</head>
<body>
<h4>Juan Carlos Collins</h4>
<h4>githubUsername: juancarlucci</h4>
<h4>githubLink: juancarlucci</h4>


</body>
</html>
