<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>codeInsight</title>

    <!-- STYLESHEETS -->
    <!-- <link rel="stylesheet" href="/styles/styles.css"> -->
    <link rel="stylesheet" href="/styles/profile.css">

    <!-- VENDOR SCRIPTS -->
    <script src="/scripts/d3.min.js"></script>
    <script src="/scripts/jquery3.3.1.min.js"></script>
    <script type='text/javascript' src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"> </script>
    <script type='text/javascript' src="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> </script>

    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <!-- <script src="https://d3js.org/d3-selection-multi.v0.4.min.js"></script> -->

    <!-- APPLICATION SCRIPTS -->

    <script src="/scripts/d3-profile.js" defer></script>
    <script src="/scripts/app.js" defer></script>
  </head>
  <body>


    <%- include('nav'); %>
  <container id=menu>
    <h5 class="menuTitle">profile</h5>
    <div class="menu-items">
    </div>
  </container>

<container class="" id="content">
   <section class="main-wrapper" id="chartResponsive">
   </section>
</container>
<!-- <container class="charts-container">


  <div class="bar-title">
    <h4 class="bar-title">Your repos by language</h4>
  </div>
  <svg id="bar-chart" width="860" height="200"></svg>

  <div class="bar-title">
    <h4>Recent commits</h4>
  </div>
  <article id="profile-layout"></article>
  <div class="bar-title">
    <h4>Areas of growth in the job market</h4>
  </div>
  <svg id="bar-chart2" width="860" height="200"></svg>

  <div class="bar-title">
    <h4>Trends in languages vs jobs</h4>
  </div>
  <article id="profile-layout2"></article>
</container> -->

<script>


  </script>
  </body>
</html>
