<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>codeInsight</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/stats.css">

    <!-- VENDOR SCRIPTS -->
    <script src="/scripts/d3.min.js"></script>
    <script src="/scripts/jquery3.3.1.min.js"></script>
    <script src="/scripts/jquery-ui.min.js"></script>

    <!-- APPLICATION SCRIPTS -->

    <script src="/scripts/d3-stats.js" defer></script>
  </head>

  <body>


    <%- include('nav'); %>

  <h3 class="profile-stats flexcontainer">your profile stats</h3>
  <div class="user-profile-items"></div>
  <section class="badges main-wrapper flexcontainer">

  </section>

  <article class="repo-languages-directions">
      <h3>the languages of your own repos</h3>
      <section class="main-wrapper flexcontainer" id="chartResponsive">
      </section>
      <p>type the name of one of your repos to populate a graph</p>
      <p>you can add more repos to compare, just type another repo name and submit. hit the "X" to delete</p>

      <form class="repo-name-getter">
        <input type="text" name="repo" id="repo-name" placeholder="repo name">
        <input class="btn" type="submit" name="search">
        <small>(scroll to view)</small>
      </form>
  </article>
 <div class="repo-languages"></div>
  <section class="all-repos main-wrapper">
  </section>

  <!-- <h3 class="profile-stats flexcontainer">your trends</h3>
  <section class="main-wrapper flexcontainer" id="lineChartResponsive">
  </section> -->

   <!-- <section class="main-wrapper flexcontainer" id="chartResponsive">
   </section> -->
  </body>
</html>
