html { font-size: 2vw; }

body {
  color: #gray;
  font-family: Helvetica, Arial, sans-serif;
  /* background: linear-gradient(to right, #C86DD7, #e66465); */
}

h4 {
  /* margin-top: 100px; */
  text-align: center;
  font-size: calc(1em + 1vw);
}
image {
  disp: block;
}

.charts-container {
      width: 69%;
      min-width: 250px;
      padding: 10px;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    /* main wrapper */

      section.main-wrapper {
        width: 69%;
        min-width: 250px;
        padding: 10px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 62%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
  }

  .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    padding-bottom: 8%;
    /*max-width: 750px;*/
    border: auto;
  }

  div.tooltip {
    line-height: 1;
    padding: 12px;
    background: rgba(67, 67, 67, 0.8);
    color: rgb(185, 185, 185);
    border-radius: 12px;
    position: absolute;
    text-align: center;
    /*width: 60px;          */
    /*height: 28px;         */
    padding: 2px;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }
  @media only screen and (max-width: 846px) {
    aside {
      width: 100%;
    }
    section.main-wrapper {
      width: 100%;
    }
    .label,
    .axis {
      font-size: .7em;
    }
  }

  @media only screen and (max-width: 360px) {
    .label,
    .axis {
      font-size: 10px;
    }
  }
