/* Global ================================================================ */
 .flexcontainer {
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: row;
     flex-direction: row;
     -webkit-align-items: center;
     align-items: center;
     -webkit-justify-content: center;
     justify-content: center;
     flex-wrap: wrap;
}
/* Text Styles (a, a:hover, a:visited, a:active, p, h1, h2, h3, h4, etc.) ================================================================ */
 h3 {
     font-family: var(--main-font-family);
     font-size: 56px;
     margin: 10px 0;
     font-weight: 500;
}
/* Layout (columns, floats, etc.) ================================================================ */
 .btn {
     border-radius: 2px;
     outline: none;
     border: solid 0.5px var(--main-light-text-color);
     padding: 1.018em 1.2em;
     color: var(--main-text-color);
     text-transform: uppercase;
     transition: all 0.3s;
     font-size: 0.6em;
     text-align: center;
     background-color: var(--main-dark-bg-color);
     cursor: pointer;
}
 .btn:hover {
     background-color: var(--main-secondary-color);
}
 .main-wrapper {
     max-width: 1600px;
     min-width: 270px;
     margin: auto;
}
 .user-profile-items {
     display: flex;
     justify-content: space-evenly;
     text-align: center;
}
 .svg-container,
 .svg-line-container,
 .svg-badge-container {
    /* need flex-grow to work well with viebox set in stats.js */
     flex-grow: 1;
     margin: 3em 2em;
     align-items: center;
     justify-content: center
}
 .svg-line-container,
 .svg-badge-container {
     max-width: 63em;
}
 .svg-badge-container {
     margin-left: 3em;
}
 .svg-container {
     min-width: 270px;
     max-width: 547px;
}
 .all-repos {
     display: -webkit-flex;
     display: flex;
     -webkit-align-items: center;
     align-items: center;
     -webkit-justify-content: center;
     justify-content: center;
     flex-wrap: wrap;
}
 .repo-info {
     display: flex;
}
 .repo-info-name {
     margin: 3px;
     border: none;
     border-radius: 2px;
     outline: none;
     padding: 0.5em;
     color: var(--main-dark-bg-color);
     text-transform: uppercase;
     transition: all 0.3s;
     font-size: 0.6em;
     text-align: center;
     background-color: var(--main-light-bg-color);
     width: auto;
}
 .repo-languages-directions {
     margin: auto;
     width: 70%;
     text-align: center;
     border-top: 1px solid #e5e5e5;
     padding: .8em;
     padding-top: 1.5em;
}
 .badges {
     border-bottom: 1px solid #e5e5e5;
}
 .profile-stats {
     padding-top: 0.5em;
}
 .node-item {
     font: 10px sans-serif;
     text-align: right;
     padding: 3px;
     margin: 1px;
     color: var(--main-light-text-color);
}
/* LINE GRAPH ================================================================ */

 .line {
     fill: none;
     stroke-width: 1.5px;
}
/* /////////second line graph */
 path {
     stroke: var(--main-dark-bg-color);
     stroke-width: 2;
     fill: none;
}
 .axis path, .axis line {
     fill: none;
     stroke: grey;
     stroke-width: 1;
     shape-rendering: crispEdges;
}
 .legend {
     font-size: 16px;
     font-weight: bold;
     text-anchor: middle;
}
/* //////////// BAR GRAPHS /////////// */
 .axis--x path {
     display: none;
}
 .bar-title {
     margin: auto;
     text-align: center;
}
 #bar-chart,
 #bar-chart2,
 #profile-layout {
     margin-bottom: 8em;
}
 .del {
     cursor: pointer;
     font-size: 1em;
}
 .del:hover {
     fill: var(--main-accent-color);
}
 .userInfo {
     display: flex;
     flex-direction: column;
     margin: 3em 2em;
     align-items: center;
     justify-content: center
}
 .axisColor line{
     stroke: var(--main-light-text-color);
}
 .axisColor path{
     stroke: var(--main-light-text-color);
}
 .axisColor text{
     fill: var(--main-light-text-color);
}
 @media screen and (max-width: 42.5em) {
     body {
         background: var(--main-light-bg-color)
    }
     h3 {
         font-size: 3em;
    }
     .flexcontainer {
         display: block;
        /* margin: 3em 0;
         */
    }
     .svg-container {
         margin: 0;
    }
     .repo-languages-directions{
         width: 100%;
    }
     .badge-titles,
     .badge-values {
         font-size: 1em;
    }
}
