* {
  box-sizing: border-box;
}

html {
  font-size: 2vw;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 26.25em) {
  .hamburger {
    display: block;
    color: gray;
    font-size: 1.7rem;
    position: absolute;
    top: 1em;
    left: 1.3em;
  }
}

nav {
  /* position: fixed;
     */
  top: 0;
  left: 0;
  right: 0;
  /* background-color: #fff;
     */
  background: linear-gradient(to right, #e66465, #c86dd796);
  text-align: center;
  /* padding: 1.25em 17.188em; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 26.25em) {
  nav {
    display: none;
  }
}

a {
  font-family: "Relaway", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  /* color: gray;
     */
  letter-spacing: 0.063em;
  font-size: 1.125em;
  margin: 0 1.25em;
  border-bottom: 0.125em solid transparent;
}

a:hover {
  border-color: gray;
}

body {
  color: #fff;
  font-family: "Relaway", sans-serif;
  background: linear-gradient(to right, #e66465, #c86dd796);
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: calc(1em + 6vw);
}

.repo-image {
  display: flex;
  /* width: 13em;
     */
  width: 1em;
  height: 1em;
}

button {
  color: #C86DD7;
}

.welcome {
  margin-bottom: 3em;
}
.main-title {
  text-align: center;

}

/*menu ideas from Bret Boss */
#menu {
  position: fixed;
  left: -6.95em;
  top: 50%;
  width: 8em;
  background: rgba(141, 198, 63, 0.81);
  color: white;
  margin: -3em 0 0 0;
  padding: 0.5em;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(.61,0,.5,.99);
  text-align: center;
}
@supports (transform: translate(0, -50%)) {
  #menu {
    margin-top: 0;
    transform: translate(0, -50%);
  }
}

#menu p {
  font-size: 0.75em;

}

#menu:hover {
  left: 0;
}

#menu a:focus {
  left: -7em;
  background: hsla(80, 90%, 40%, 0.7);
}

#menu:hover a:focus {
  left: 0;
  /* background: none; */
}

.menuTitle  {
  position: absolute;
  top:36%;
  transform: rotate(270deg);
  left: 76%;
  font-weight: 400;
  font-size: 1em;

}

#menu:hover .menuTitle{
  position: absolute;
  top: -19.5%;
  transform: rotate(0deg);
  left: 3em;
}

/* ///////////////////////// SVG /////////////////////////// */

#Layer_1 {
  position: absolute;
  top: 134px;
  z-index: -1;
}
.intro,
.action {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.action a{
  background-color: steelblue;
  border-radius: 8%;
}
.column {
  margin: auto;
}
#logo-intro,
#github-icon {
  width: 8em;
  height: 8em;
}
.no-svg #logo {
  width: 200px;
  height: 164px;
  background-image: url(kiwi.png);
}

#logo-link {
  stroke: steelblue;
}

#logo-link {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: dash 3s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#heartBeat-bottom {
  position: absolute;
  top: 135px;
  z-index: -1;
}

.circle-thick {
  stroke-width: 5px;
  stroke: steelblue;
}
.circle-red {
  stroke: orangered;
}

.block {
  display: block;
}


/* ///////////////////////// HOT /////////////////////////// */

.flex-contaier {
  display: flex;
  align-items: center;
  justify-content: center;
}

#popular-list {
  text-align: center;
  height: 680px;
  overflow-y: scroll;
}

.node text {
  font-family: "Relaway", sans-serif
}

.selectors {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

#search.ui-autocomplete-input {
  color: gray;
}
.ui-helper-hidden-accessible {
  background-color: gray;
}


/* PROFILE///////////////// */

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.bar:hover {
  fill: orangered;
}

.axis--x path {
  display: none;
}

.bar-title {
  margin: auto;
  text-align: center;
}

#bar-chart,
#bar-chart2,
#profile-layout {
  margin-bottom: 8em;
}

.charts-container {
  display: flex;
  flex-direction: column;
  margin: 3em 2em;
  align-items: center;
  justify-content: center
}

.userInfo {
  display: flex;
  flex-direction: column;
  margin: 3em 2em;
  align-items: center;
  justify-content: center
}

.axisColor line{
  stroke: white;
}

.axisColor path{
  stroke: white;
}

.axisColor text{
  fill: white;
}
